*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    min-height:100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width:300px;
    height:500px;
    box-shadow: 4px 4px 30px rgba(0,0,0,0.3);
    border-radius: 12px;
    background: #22252d;
    overflow:hidden;
}

.screen{
    width:100%;
    height: 150px;
    border: none;
    border-radius:12px;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    background: #000;
    text-align:right;
    pointer-events:none;
}

.buttons{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 20px;
}

button{
    flex: 0 0 22%;
    margin: 5px 0;
    border:1px solid #000;
    width:60px;
    height:52px;
    font-size:22px;
    font-weight:600;
    border-radius:5px;
    cursor: pointer;
}

.btn-yellow{
    background: #EC8F5E;
    color:#fff;
}

.btn-yellow:hover{
    background: #F7B787;
    font-size: 18px;
}

.btn-grey{
    background: #7D7C7C;
    color: #fff;
}

.btn-grey:hover{
    background: #B4B4B3;
    font-size: 18px;
}


.equal{
    background: #9ADE7B;
}

.equal:hover{
    background: #A6CF98;
}

.clear{
    background: #EF4040;
}

.clear:hover{
    background: #E25E3E;
}
